<div class="row">
  <div class="col-md-12 text-center">
<h3>Crud Operations using http get/post</h3>
  </div>

</div>

<div class="row">
    <div class="col-md-3">
  <div class="form-group">
    <label>FullName</label>
    <input type="text" class="form-control" [(ngModel)]="fname">
  </div>

  <div class="form-group">
      <label>Mobile No</label>
      <input type="text" class="form-control" [(ngModel)]="mobile">
    </div>

    <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" [(ngModel)]="message"></textarea>
      </div>
<div class="text-center">
  <button class="btn btn-primary" (click)="save()">{{btntext}}</button>
  &nbsp;&nbsp;
  <button class="btn btn-danger"  (click)="cleardata()">clear </button>

</div>
    </div><!--3 end-->

    <div class="col-md-9">
  <table class="table table-bordered table-hover">
    <caption class="text-center"><p>{{totaluser}}</p></caption>
<tr>
  <th>Name</th>
  <th>Mobile</th>
  <th>Message</th>
  <th>Action</th>
</tr>
<tr *ngFor="let row of user | paginate: { itemsPerPage: 4, currentPage: p }; let i=index;">
 <td>{{row.name}}</td>
 <td>{{row.mobile}}</td>
 <td>{{row.message}}</td>
 <td>
   <button class="btn btn-warning btn-sm" (click)="edit(i)"><i class="glyphicon glyphicon-edit"></i></button>
   &nbsp; &nbsp;
   <button class="btn btn-danger btn-sm" (click)="deleteuser(row.id)"><i class="glyphicon glyphicon-trash"></i></button>
 </td>
</tr>
  </table>
      </div><!--9 end-->
  
  </div>
  <div class="row">
    <div class="col-sm-12 text-center"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
    </div>
 